---

---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ZenFS Docs</title>
		<link rel="stylesheet" href="styles.css" />
		<style>
			body {
				background-color: #333;
			}
			#main {
				margin-top: 1em;
				margin-left: 1em;
			}
		</style>
	</head>
	<body>
		<div id="main">
			<h2>Welcome to the ZenFS Docs!</h2>

			<p>You can find the docs for specific <code>@zenfs</code> modules below:</p>
			<p><strong><a href="/core">core</a></strong>: The core, includes some backends</p>
			<p><strong><a href="/dom">dom</a></strong>: Backends which use DOM APIs (i.e. browsers)</p>
			<p><strong><a href="/zip">zip</a></strong>: Backend for ZIP archives</p>
			<p><strong><a href="/iso">iso</a></strong>: Backend for ISO disk images</p>
			<p><strong><a href="/dropbox">dropbox</a></strong>: Backend for Dropbox</p>
			<p><strong><a href="/emscripten">emscripten</a></strong>: Backend for use with Emscripten (Work in Progress)</p>

			<h4><a href="/playground">Playground</a></h4>
			<em>(Work in progress)</em>

			<p>The playground allows you to explore ZenFS and different configurations with ease.</p>
		</div>
	</body>
</html>
